/**
 * Parallax Scrolling Tutorial
 * For Smashing Magazine
 * July 2011
 *  
 * Author: Richard Shepherd
 *		   www.richardshepherd.com
 * 		   @richardshepherd   
 */

#main{
	background-color: black;
}

article h2 { font-family: 'Lobster Two'; font-size: 60px; margin: 25px 0; line-height: 1em; }

.story { height: 565px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; border-top: 0px solid rgba(255,255,255,0.3); border-bottom: 0px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8);}

#first { background: white url(../images/truckback.png) 50% 0 no-repeat fixed; width: 810px;}
#second { background: url(../images/boxback.png) 50% 561px no-repeat fixed; }
#theend { background: url(../images/truckback.png) 50% bottom no-repeat fixed; }

/* Introduction */
#first .celebramosIndio { background: url(../images/indioback.jpg) 50% 14px no-repeat fixed; min-height: 566px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; opacity: .85;}
#first .celebramosText {background: url(../images/celebramos.png) 63% 60px no-repeat fixed; min-height: 566px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; opacity: .85;}
#first .millionText {background: url(../images/million.png) 69% 207px no-repeat fixed; top: -417px; min-height: 566px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; opacity: .85;}

#first .faltasText {background: url(../images/faltastu.png) 69% 436px no-repeat fixed; top:-972px; min-height: 566px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; opacity: .85;}

#first article { width: 100%; top: 30px; position: absolute; text-align: center; }
#first article p,
#first article a { color: #ccc; }
#first article a { text-decoration: underline; }
#first article a:hover { color: #fff; }

/* Background Only */
#second { padding: 0px 0;}
#second article { width: 806px; height: 566px; margin: auto; padding: 0px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid 
rgba(150,150,150,0.1); }


#second article p { margin-bottom: 25px; }
#second article a { color: #ff0;}

#second #video { width: 566px; height: 341px; margin: 151px auto; padding: 0px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid 
rgba(150,150,150,0.1); }
#second .botella {background: url(../images/botella.png) 28% 500px no-repeat fixed; top: -520px; min-height: 566px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; opacity: .85;}
 
/* The End */
#theend article { width: 806px; top: 0px; margin: auto; text-align: center; height: 500px; overflow: hidden; position: relative;}
#theend .caja11 { background: url(../images/box.png) 36% -64px no-repeat fixed;  height: 566px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; } 
#theend .caja12 { background: url(../images/box.png) 4% -10px no-repeat fixed; top:-565px; height: 1067px; padding: 0; margin: 0; width: 100%; position: relative; margin: 0 auto; }
#theend .caja13 { background: url(../images/box.png) 85% 71px no-repeat fixed; top:-1634px; height: 566px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#theend .caja14 { background: url(../images/box.png) 46% 163px no-repeat fixed; top:-2200px; height: 566px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#theend .caja15 { background: url(../images/box.png) 12% 247px no-repeat fixed; top:-2765px; height: 566px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#theend .caja16 { background: url(../images/box.png) 83% 390px no-repeat fixed; top: -3332px;height: 501px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }

#theend .caja1 { background: url(../images/box.png) 37% -68px no-repeat fixed; }
#theend .caja2 { background: url(../images/box.png) 4% -26.5px no-repeat fixed; }
#theend .caja3 { background: url(../images/box.png) 80% -60.75px no-repeat fixed; }
#theend .caja4 { background: url(../images/box.png) 46% 168px no-repeat fixed; }
#theend .caja5 { background: url(../images/box.png) 12% 250px no-repeat fixed; }
#theend .caja6 { background: url(../images/box.png) 83% 300px no-repeat fixed; }
.caja{
	padding: 0px; 
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: absolute;
	max-width: 1920px; 
}

.left{
	float: left;
}
.clear{
	clear:both;
}